.pattern-scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--color-scrollbar-bg);
}
.pattern-scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb-bg);
}
.pattern-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 0.1s ease;
}
.pattern-dropdown > summary {
  list-style: none;
}
.pattern-dropdown > summary::-webkit-details-marker{
  display: none;
}
.pattern-dropdown > div {
  position: absolute;
  z-index: 100;
}
details[open].pattern-dropdown > summary:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}
.pattern-show-when-not-mobile {
  display: block;
}
@media (max-width: 32rem) {
  .pattern-show-when-not-mobile {
    display: none;
  }
}
