.pattern-scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--color-gray-200);
}
.pattern-scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-400);
}
.pattern-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 0.1s ease;
}
.pattern-dropdown > summary {
  list-style: none;
}
.pattern-dropdown > summary::-webkit-details-marker{
  display: none;
}
